.nav div{
    height:4px;
    background-color:black;
    margin:5px;
    border-radius:25px;

}

.one{
    width:30px;
}
.one:hover{
   background-color:rgb(2, 200, 255);
}
.two{
    width:30px;
}
.two:hover{
    background-color:rgb(228, 64, 19);
}
.three{
    width:30px;
}
.three:hover{
    background-color:rgb(62, 237, 23);
}
